<html>
    <head>
        <title>Events</title>
        <link rel="stylesheet" href="/public/resources/home/home.css" />
        <link rel="stylesheet" href="/public/resources/dropdown.css" />
    </head>
    <body>

        <%- include('includes/header.ejs') -%>

        <div class="event-container">

            <h1>Events</h1>

            <div id="filters">
                <fieldset>
                    <legend>Event search</legend>
                    <div class="row">
                        <div>
                            <label for="src_name">Name:</label><br>
                            <input type="text" id="src_name" name="src_name" value="">
                        </div>
                        <div>
                            <label for="src_date">Initial date:</label><br>
                            <input type="date" id="src_date_ini" name="src_date_ini" value="">
                        </div>
                        <div>
                            <label for="src_date">End date:</label><br>
                            <input type="date" id="src_date_end" name="src_date_end" value="">
                        </div>
                        <div>
                            <label for="src_active">Is active?</label><br>
                            <select id="src_active" name="src_active">
                                <option value="">...</option>
                                <option value="y">Yes</option>
                                <option value="n">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button id="btnsearch" class="btn-primary"><i class="fa fa-search"></i> Search</button>
                    </div>
                </fieldset>
            </div>

            <button id="register" class="btn-primary"><i class="fa fa-plus"></i> Register</button>

            <table id="events">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Active</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>  
        
        </div>
        
        <!-- The Modal -->
        <div id="modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
            <span class="close">&times;</span>
                <!-- Content -->
                
                <form id="form">
                    <fieldset>
                    <legend>Register Event</legend>
                        <span class="error"></span><br>
                        
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" value=""><br><br>
                        
                        <label for="age">Date:</label><br>
                        <input type="date" id="date" name="date" value=""><br><br>
                        
                        <label for="active">Active:</label><br>
                        <input type="checkbox" id="active" name="active" value=""><br><br>

                        <input type="submit" id="save" value="Save" class="btn-primary">
                    </fieldset>
                </form> 
                
                <!-- ./Content -->
            </div>

        </div>
    
    </body>
</html>
<script src="/public/resources/home/home.js" type="module"></script>
