<html>
    <head>
        <title>Events</title>
        <link rel="stylesheet" href="/public/resources/home/home.css" />
        <link rel="stylesheet" href="/public/resources/dropdown.css" />
    </head>
    <body>

        <%- include('includes/header.ejs') -%>

        <h1>Events</h1>

        <div class="event-container">

            <table id="events">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Active</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>  
        
            <button id="register">Register</button>

        </div>
        
        <!-- The Modal -->
        <div id="modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
            <span class="close">&times;</span>
                <!-- Content -->
                
                <form id="form">
                    <fieldset>
                    <legend>Register Event</legend>
                        
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" value=""><br><br>
                        
                        <label for="age">Date:</label><br>
                        <input type="date" id="date" name="date" value=""><br><br>
                        
                        <label for="active">Active:</label><br>
                        <input type="checkbox" id="active" name="active" value=""><br><br>

                        <input type="submit" id="save" value="Save">
                    </fieldset>
                </form> 
                
                <!-- ./Content -->
            </div>

        </div>
    
    </body>
</html>
<script src="/public/resources/home/home.js" type="module"></script>
