<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/public/resources/index/index.css" />
    </head>
    <body>

        <%- include('includes/header.ejs') -%>
        
        <h1> Welcome to our virtual store</h1>
        
        
        <div class="product-container">
            <div class="product-block">
                <h3>QR</h3>
                <h4>50 tickets</h4>
                <p>
                    Service that secures your party against partycrashers delivering individual QR Codes for entrance identification. Surely a must have!
                </p>
                <button onclick="add('QR')">+ ADD</button>
            </div>
            <div class="product-block">
                <h3>RSVP</h3>
                <h4>50 tickets</h4>
                <p>
                    Service of contacting your guests throught phone calls or your favorite messaging app, including media messages as photo or video.
                </p>
                <button onclick="add('RSVP')">+ ADD</button>
            </div>
            <div class="product-block">
                <h3>STD</h3>
                <h4>50 tickets</h4>
                <p>
                    Service of sending Save the Dates messages throught your favorite messaging app, including media messages as photo or video.
                </p>
                <button onclick="add('STD')">+ ADD</button>
            </div>
        </div>

    </body>
</html>
<script src="/public/resources/index/index.js"></script>