<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/public/resources/login.css" />
    </head>
    <body>

        <form id="form" action="login" method="post">
            <fieldset>
                <legend>Login</legend>
                
                <label for="email">E-mail:</label><br>
                <input type="text" id="email" name="email" value=""><br><br>
                
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" value=""><br><br>

                <input type="submit" id="btnlogin" value="Log In" class="btn-primary">
            </fieldset>
        </form>

    </body>
</html>
<script src="/public/resources/login.js"></script>