/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
    
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: auto;
    /* left: 0; */
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown .dropdown-content a { border: 1px solid #999; margin-top: -1px; }
.dropdown .dropdown-content a:first-child { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.dropdown .dropdown-content a:last-child { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.dropdown .dropdown-content a:last-child { text-align: left; background-color: teal; color: #fff; }
    
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
    
.dropdown-content a:hover { background-color: #f1f1f1; }
    
.dropdown:hover .dropdown-content {
    display: block;
}
    
.dropdown:hover .dropbtn {
    background-color: transparent;
}