html, body { margin:0; padding: 0; }

h1 { margin: 21;}

.header { height: 80px; background-color: teal; display: flex; }
.header .options { margin-left: auto; align-items: center; display: flex; }
.header .options button { cursor: pointer; }

/* Dropdown */
.header .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10;
}
    
.header .dropbtn {
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
    
.header .dropbtn .fa-shopping-cart { color: #fff; padding: 20; }
.header .dropbtn .fa-user-circle { color: #fff; padding: 10; font-size: 20; }

.header .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
.header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header .dropdown .dropdown-content a { border: 1px solid #999; margin-top: -1px; }
.header .dropdown .dropdown-content a:first-child { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.header .dropdown .dropdown-content a:last-child { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.header .dropdown .dropdown-content a:last-child { text-align: center; background-color: teal; color: #fff; }
    
.header .dropdown-content a:hover { background-color: #f1f1f1; }
    
.header .dropdown:hover .dropdown-content {
    display: block;
}
    
.header .dropdown:hover .dropbtn {
    background-color: transparent;
}